*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(0,150,136);
    background: linear-gradient(to bottom, rgb(0, 150, 136) 20%, rgb(219, 219, 210)20%);
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.fas, .far{
    color: #b1b1b1;
    padding: 0 5px;
    font-size: 17px;
}
.finestra{
    height: 95%;
    width: 80%;
    margin: auto;
    background-color: white;
    vertical-align: middle;
    display: flex;
    align-items: flex-start;
}
/*left section*/
.leftSection{
    display: flex;
    width: 35%;
    flex-wrap: wrap;
    height: 100%;
}
.row{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.utente{
    background-color: rgb(234, 234, 234);
}
.avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 8px;
}
.infoUtente{
    padding: 9px;
    display: flex;
    align-items: center;
}
.iconsUtente{
    align-items: center;
    display: flex;
    padding-right:10px ;
}
.notifiche{
    background-color: #8edafc;
    align-items: center;
    padding: 9px;
    justify-content: flex-start;
}
.bell{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fa-bell-slash{
    color: #8edafc;
    align-items: center;
}
.sottotitolo{
    text-decoration: underline;
    color: grey;
    font-size: 12px;
}
.search{
    background-color: #f9f9f9;
    height: 40px;
    padding: 7px;
}
.contactSearch{
    width: 100%;
    border: none;
    color: #b1b1b1;
    padding: 0 30px;
}
.search.placeholder{
    color: #b1b1b1;
}
/*contatti*/
.sezioneContatti{
    overflow-y:scroll;
    width: 100%;
    height: calc(100% - 170px);
    flex-wrap: wrap;
    align-items: flex-start;
}
.contatti{
    border-bottom: 1px solid #ece2e2;
    align-items: center;
    padding: 0 10px;
    justify-content: flex-start;
}

/*sezione destra chat*/
.chatSection{
    display: flex;
    width: 65%;
    height: 100%;
    flex-wrap: wrap;
}
.conversazione{
    border-left:1px solid #ece2e2;
    display: flex;
}
.sottotitoloLiscio{
    color: grey;
    font-size: 12px;
}
.iconChat{
    justify-self: flex-end;
}
.utenteChat{
    display: flex;
    align-items: center;
}
.chat{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.scriviMessaggio{
    background-color: #f3eeea;
    height: 65px;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.messageInput{
    height: 45px;
    width: 83%;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}
.messaggi{
    height: 50px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
}
.rigaMsg{
    width: 100%;
    display: flex;
    height: 50px;
    margin: 5px 0;
}

/*classi dinamiche*/
.active{
    background-color:rgb(234, 234, 234);
}
.msgSend{
    background-color: #d5f9ba;
    justify-self: flex-end;
}
.inviato{
    justify-content: flex-end;
}


