*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(0,150,136);
    background: linear-gradient(to bottom, rgb(0, 150, 136) 20%, rgb(219, 219, 210)20%);
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.fas{
    color: #b1b1b1;
    padding: 0 5px;
    font-size: 17px;
}
.finestra{
    height: 95%;
    width: 80%;
    margin: auto;
    background-color: white;
    vertical-align: middle;
}
.leftSection{
    display: flex;
    width: 35%;
    flex-wrap: wrap;
}
.row{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.utente{
    background-color: rgb(234, 234, 234);
}
.avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 8px;
}
.infoUtente{
    padding: 9px;
    display: flex;
    align-items: center;
}
.iconsUtente{
    align-items: center;
    display: flex;
    padding-right:10px ;
}
.notifiche{
    background-color: #8edafc;
    align-items: center;
    padding: 9px;
    justify-content: flex-start;
}
.bell{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fa-bell-slash{
    color: #8edafc;
    align-items: center;
}
.sottotitolo{
    text-decoration: underline;
    color: grey;
    font-size: 12px;
}
.search{
    background-color: #f9f9f9;
    height: 40px;
    padding: 7px;
}
.contactSearch{
    width: 100%;
    border: none;
    color: #b1b1b1;
    padding: 0 30px;
    
}
.search.placeholder{
    color: #b1b1b1;
}
.sezioneContatti{
    overflow-y:scroll;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    
}
.contatti{
    border-bottom: 1px solid #ece2e2;
    align-items: center;
    padding: 0 10px;
    justify-content: flex-start;
}