<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="root" class="container">
            <div class="finestra">
                <!-- sezione contatti -->
                <section class="leftSection" >
                    <!-- utente  -->
                    <div class="utente row">
                        <div class="infoUtente">
                            <img src="img/avatar_io.jpg" alt="avatar" class="avatar">
                            <p> Nome utente</p>  
                        </div>
                        <div class="iconsUtente">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- notifiche -->
                    <div class="row notifiche">
                        <span class="avatar bell"><i class="fas fa-bell-slash"></i></span>
                        <span>
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p class="sottotitolo">Attiva notifiche desktop</p>
                        </span>
                    </div>
                    <!-- ricerca -->
                    <div class="row search">
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
                        <input type="text" class="contactSearch"  placeholder="&#xF002; " style="font-family:Arial, FontAwesome" />
                    </div>
                    <!-- contatti -->
                    <ul class="sezioneContatti">
                        <li v-for="(contact,indice) in contacts" class="row contatti" @click="selezionato(indice)" :class="(indice==contattoSelezionato)?'active':null">
                            <img class="avatar" :src="'img/avatar'+ contact.avatar+'.jpg'" alt="">{{contact.name}}
                        </li>
                    </ul>
                </section>
                <!-- sezione destra chat -->
                <section class="chatSection">
                    <div class="row conversazione utente infoUtente">
                        <div class="utenteChat">
                            <img class="avatar "  :src="`img/avatar${contacts[contattoSelezionato].avatar}.jpg`" alt="{{contacts[contattoSelezionato].name}}">
                            <div class="statoUtente">
                                <p>{{contacts[contattoSelezionato].name}}</p>
                                <p class="sottotitoloLiscio">Ultimo accesso oggi alle </p>
                            </div>
                        </div>
                        
                        <div class="iconsUtente iconChat">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i> 
                        </div>

                    </div>
                    <div class="chat">
                        <div class="rigaMsg inviato" v-for="(message,indice) in contacts[contattoSelezionato].messages":class="message.status" :key="indice">
                            <div class="messaggi msgSend">
                                <p class="testoMsg ">{{message.message}}</p>
                                <p class="sottotitoloLiscio dataMsg">{{message.date}}</p>
                            </div>
                        </div> 
                        <!-- <div  class="rigaMsg ricevuto">
                            <div class="messaggi msgReceived">
                                <p class="testoMsg "></p>
                                <p class="sottotitoloLiscio"></p>
                            </div>
                        </div>  -->
                        
                        
                    
                    </div>
                    <div class="scriviMessaggio">
                        <i class="far fa-smile"></i>
                        <input class="messageInput" type="text" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </section>
            </div>




        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>